@model Domain.ViewModels.Person.AllPersonsViewModel
@{
    ViewData["Title"] = "Home Page";

}
<div class="row">
    <span class="text-danger">@ViewBag.ErrorMessage</span>
</div>

<div class="row">
    <div class="col-6">
        <h2>Persons</h2>
    </div>
    <div class="col-6">
        <a class="btn btn-info float-end" asp-action="Create" asp-controller="Person">Add New Person</a>
    </div>
        <div>
            <table class="table table-striped border">
                <tr class="table-info">
                    <th>
                        @Html.DisplayName("FirstName")
                    </th>
                    <th>
                        @Html.DisplayName("LastName")
                    </th>
                    <th>
                        @Html.DisplayName("First email")
                    </th>
                    <th>
                        @Html.DisplayName("Description")
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                @foreach (var person in Model.Persons)
                {
                    <tr>
                        <td>@Html.DisplayFor(m => person.FirstName)</td>
                        <td>@Html.DisplayFor(m => person.LastName)</td>
                        <td>@Html.DisplayFor(m => person.FirstEmail)</td>
                        <td>@Html.DisplayFor(m => person.Description)</td>
                        <td><a type="submit" class="btn btn-danger" asp-action="Delete" asp-controller="Person" asp-route-id="@person.Id">Delete</a></td>
                        <td><a type="submit" class="btn btn-info" asp-action="Edit" asp-controller="Person" asp-route-id="@person.Id">Edit</a></td>
                    </tr>
                }
            </table>
        </div>
</div>

